   body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      height: 100vh; 
      overflow: hidden;
    }
    
    header {
      background-color: #000;
      color: #fff;
      padding: 10px 20px;
      display: flex;
      justify-content: center; 
      align-items: center;
    }
    
    .home-button {
      background-color: #000;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
      position: absolute; 
      left: 20px; 
    }
    
    .home-button:hover {
       background-color: #fff;
       color: #000;
    }
    
    .recommend-text {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      margin: 0 10px;
      transition: color 0.3s;
    }
    
    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #f0f0f0;
    }
    
    .text-container {
      text-align: center;
      font-size: 45px;
      font-weight: bold;
      opacity: 0;
      animation: fadeIn 2s forwards;
      transform: translateY(-300px);
    }
    
    .creator-text {
      text-align: left;
      font-size:30px;
      
      position: absolute; 
      top: 300px;
      left: 35%;
      transform: translateX(-50%); 
    }
    
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
  .image-container {
      position: absolute;
      bottom: 0;
      Right: 0;
     
    }